



  <!-- <router-outlet></router-outlet>


<app-footer></app-footer>  -->

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="content mat-elevation-z3">
    <ul class="list-group list-group-flush">

      <li class="nav-item list-group-item" >
        <a class="nav-link active" aria-current="page" routerLink="/album">Albums</a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" routerLink="/membership">Subscriptions</a>
      </li>
      <li class="nav-item list-group-item" >
        <a class="nav-link active" aria-current="page" routerLink="/album">Albums</a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" routerLink="/heroes">Subscriptions</a>
      </li>
      <li class="nav-item list-group-item" >
        <a class="nav-link active" aria-current="page" routerLink="/album">Albums</a>
      </li>
      <li class="nav-item list-group-item">
        <a class="nav-link" routerLink="/heroes">Subscriptions</a>
      </li>
    </ul>

  <mat-divider></mat-divider>

  </mat-sidenav >

  <mat-sidenav-content>
      <div class="content mat-elevation-z3">
        <router-outlet>
          <app-navbar   [sidenavData]="sidenav" ></app-navbar>

        </router-outlet>

       </div>
  </mat-sidenav-content>

</mat-sidenav-container>
