.mat-sidenav-container{
  background-color: #2C8389;
  height: 100vh;

}
mat-sidenav{
display: flex;
width: 6rem;
transition: all 0.7s;
height: 100vh;
margin: 0px;
border-right: 1px;

text-align: center;

}
.sidenav-collapsed{
  width:13.5625rem ;
  transition: all 0.7s;
}

 i{


    align-items: center;
    width: 3rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    padding: 00.313rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    color: #2C8389;

}

i:hover{
  /* background-color:#2C8389 ;
  color: #fff;
  padding: 5px; */
}
ul{
  display: flex;

}
li {
  display: flex;
  align-items: center;
  margin-top: 5%;
}

/* ul li a:hover{
  color: #fff;
  transition: all .3s ease;
  background-color: #2C8389;
  border-radius: 3%;
} */
li a{
  color: #2C8389;
  font-weight:500;
  font-size: larger;

}

i{
  font-size:24px ;
  width: 2rem;

  text-align: center;
 }


mat-icon{
  font-size: 40px ;

}

button {
  font-size: 20px;
  background-color: red !important;
}

mat-sidenav-container {
  height:100%;
}
