
<div class="container mycontainer">



  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-4 img">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">  {{albums.title}}</h1>
          <img [src]="albums.get_image" class="card-img-top img-thumbnail" alt="Sunset Over the Sea"/>
        </div>
      </div>

    </div>
    <div class="col-md-6 col-lg-6 col-sm-4 content">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">  {{albums.title}}</h1>
        </div>
      </div>
    </div>
  </div>

</div>
